/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

header, footer {
    background-color: #8ccbf8;
    padding: 20px 0;
    color: #fff;
}

.navbar .logo h1 {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
}

.navbar nav ul {
    list-style-type: none;
    padding: 0;
}

.navbar nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar nav ul li a {
    color: white;
    font-size: 1.1em;
}

/* Hero Section */
.hero {
    background-color: #a7cbe6;
    padding: 50px 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
}

/* Products Section */
#productos {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

#productos h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}

.producto-card img {
    width: 100%;
    border-radius: 8px;
}

.producto-card button {
    background-color: #8ccbf8;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.producto-card button:hover {
    background-color: #75a9d3;
}

/* Customer Support Section */
#atencion {
    background-color: #d1e8f6;
    padding: 50px 20px;
    text-align: center;
}

#atencion button {
    background-color: #8ccbf8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#atencion button:hover {
    background-color: #75a9d3;
}

/* Footer */
footer .footer-content {
    text-align: center;
}
